source_up


# Python
if [ -f pyproject.toml ]; then
    poetry config --local virtualenvs.create true
    poetry config --local virtualenvs.in-project true
    poetry install
    source $(poetry env info --path)/bin/activate
fi


# Node
if [ -f package.json ]; then
    npm install --no-save
fi

unset PS1
